.event-card {
  transition: box-shadow .3s;
  border-radius: 5%;
}

.event-card:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  transition: all 0.3s ease-in-out;
}

.event-card-img {
  object-fit: 'cover';
  border-radius: 5% 5% 0% 0%;
  height: 50vh;
}
